{% extends "base.html.twig" %}

{% block title %}Records{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Stage</th>
            <th>Due</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.getKey() }}</td>
                <td>{{ record.getState().getId() }}</td>
                <td>{{ record.getDue().format("Y-m-d H:i:s") }}</td>
                <td>
                    <a href="{{ path('route_record_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">🔍</a>
                    <a href="{{ path('route_record_edit_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">✎</a>
                    <a href="{{ path('route_record_delete_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">❌</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('route_record_add_get') }}" class="btn btn-primary" role="button">Add new Record</a>

{% endblock %}
