{% extends "base.html.twig" %}

{% block title %}Records{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Stage</th>
            <th>Due</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.getKey() }}</td>
                <td>{{ record.getState().getId() }}</td>
                <td>{{ record.getDue().format("Y-m-d H:i:s") }}</td>
                <td>
                    <a href="{{ path('route_record_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">🔍</a>
                    <a href="{{ path('route_record_edit_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">✎</a>
                    <a href="{{ path('route_record_delete_get', {'recordId': record.getRecordId()}) }}" class="btn btn-sm btn-light" role="button">❌</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('route_record_add_get') }}" class="btn btn-primary" role="button">Add new Record</a>

{% set prev_page = current_page - 1 > 1 ? current_page - 1 : 1 %}
{% set next_page = current_page + 1 <= max_page ? current_page + 1 : max_page %}

<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="{{ path('route_records_get', {'page': prev_page}) }}">Previous</a></li>
        {% for i in 1..max_page %}
            <li class="page-item"><a class="page-link" href="{{ path('route_records_get', {'page': i}) }}">{{ i }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ path('route_records_get', {'page': next_page}) }}">Next</a></li>
    </ul>
</nav>

{% endblock %}
