{% extends "base.html.twig" %}

{% block title %}Record{% endblock %}

{% block content %}

<div>
    <div class="mr-auto ml-auto text-center">
        <h1>{{ record.getKey() }}</h1>
        <small>{{ record.getState().getId() }}</small>
    </div>
</div>
<div class="mt-5">
    <div class="mr-auto ml-auto">
        {% if record.getMeaning() != null %}
            {{ record.getMeaning() | markdown_to_html }}
        {% endif %}
    </div>
</div>
{% set links = record.getLinks() %}
{% if links|length > 0 %}
<div class="mt-5">
    <div class="mr-auto ml-auto">
        <h3>Links</h3>
        {% for link in links %}
            <p><a href="{{ link.link }}">{{ link.title }}</a></p>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="mt-5 mb-5">
    <div class="mr-auto ml-auto text-center">
        <a href="{{ path('route_state_backward_get', {'userId': user.getId(), 'recordId': record.getRecordId()}) }}" class="btn btn-light" role="button">
            Bad
        </a>
        <a href="{{ path('route_state_forward_get', {'userId': user.getId(), 'recordId': record.getRecordId()}) }}" class="btn btn-light" role="button">
            Good
        </a>
    </div>
</div>

{% endblock %}
